.titulo-header{
    color: #1F3E72;
    font-family: 'Noto Sans', sans-serif;
    font-size: 90px;
    font-weight: bold;
}

.contenido{
    padding-left:10% ;
    padding-right:10% ;
    padding-top:10% ;
    padding-bottom:10% ;
}

.body-header{
    font-family: 'Noto Sans', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #79869C;

}

.nose{
    font-family: 'Noto Sans', sans-serif;

    color: #3E5985;
}

.color{
    color: #FFCF0D;
    font-size: 20px;
    background-color: #fac9035d;
    border-radius: 2px;
}

.reloj-texto{
    color: #1C3B70;
    font-family: 'Noto Sans', sans-serif;

}
.reloj{
    width: 30px;
    height: 30px;
    color: #3354D4;
    font-size: 20px;
    background-color: #E7F2FC;
    border-radius: 2px;
}

.tarjeta{
    padding-left:0% ;
    padding-right:0% ;
    
}

.btnt{
    font-family: 'Noto Sans', sans-serif;
    color: #E7F2FC;
    font-size: 20px;

    background-color:#3354D4;
    border-radius: 5px;
    width: 100%;
    height: 60px;
}

.contenido2{
    padding-left:10% ;
    padding-right:10% ;

    padding-bottom:5% ;
}

.reloj2{
    width: 100px;
    height: 100px;
    color: #3354D4;
    font-size: 60px;
    background-color: #E7F2FC;
  
    border-radius: 10px;
}

.cardss{
    height: 100%;
}

.colr-gris{
    color: #79869C;
}

.contenido3{
    padding-left:0% ;
    padding-right:10% ;

    padding-bottom:5% ;
}

.contenido4{
    padding-left:10% ;
    padding-right:0% ;

    padding-bottom:5% ;
}

.btndd{
            background-color: #E7F2FC;
            color: #3354D4;
            font-family: 'Noto Sans', sans-serif;

            width: 100%;
}


.titulo{
    color: #3354D4;
    font-family: 'Noto Sans', sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.dd{
    margin-left: 3%;
}

.footer{
    background-color: #EEF3FF;
}