<app-menu></app-menu>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="contenido d-block">
                            <h1 class="h1 titulo-header">Fight Virus Width Vaccines</h1>
                            <h6 class="h6 body-header"> Lests stop this pandemic by killing the virus with a vaccine, dont let yourself and your family get infected</h6>
                            <div class="d-flex mt-5 nose">
                                <h6 class="h6 mx-5"><i class="bi bi-bookmark-check mx-4 color"></i><strong>Best Protection</strong></h6>
                                <h6 class="h6 mx-5"><i class="bi bi-star-fill mx-4 color"></i><strong>Selected Vaccines</strong></h6>
                             
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row my-5">
                   <div class="col-12 contenido d-flex">
                    <i class="bi bi-clock-fill mx-4 reloj my-2 text-center"></i>
                    <h3 class="h3 reloj-texto">Schedule your vaccinations</h3>
                   </div>
                </div>

                <div class="row my-5 tarjeta">
                    <div class="col-12 ">
                        <div class="card">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-3 my-4">
                                        <div class="d-flex">
                                            <i class="bi bi-pin-map-fill reloj mx-3"></i>
                                            <h4 class="h4 colr-gris">Location</h4>
                                        </div>
                                        <h3 class="h3 reloj-texto">Jakarta Utara</h3>
                                    </div>


                                    <div class="col-3  my-4">
                                        <div class="d-flex">
                                            <i class="bi bi-calendar-week-fill reloj mx-3"></i>
                                            <h4 class="h4 colr-gris">Date</h4>
                                        </div>
                                        <h3 class="h3 reloj-texto">08/07/2021</h3>
                                    </div>

                                    <div class="col-3  my-4">
                                        <div class="d-flex">
                                            <i class="bi bi-pencil-fill reloj mx-3"></i>
                                            <h4 class="h4 colr-gris">Vaccine</h4>
                                        </div>
                                        <h3 class="h3 reloj-texto">Moderna</h3>
                                    </div>

                                    <div class="col-3  my-4">
                                      <button class="btn btnt">Enviar</button>
                                    </div>
                                </div>
                            </div>
                        
                        </div>

                    </div>
                 </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <img src="../../../assets/img/img-header.png" class="img-fluid" >
        </div>
    </div>
</div>


<img src="../../../assets/img/marca_vacunas.jpg" class="img-fluid">


<div class="container-fluid contenido2">
    <div class="row">
        <div class="col-12">
            <div class="d-block">
                <h1 class="h1 titulo-header">Why should i vaccine?</h1>
                <h6 class="h6 body-header"> In order any doubts about getting the COVID-19,<br> vaccine, identify the following 4 benefits of COVID-19<br>  vaccination:</h6>

            </div>
        </div>
    </div>
</div>

<div class="container-fluid contenido2">
    <div class="row">
        <div class="col-3">
            <div class="card cardss">
                <i class="bi bi-clock-fill  reloj2 my-4 mx-5 text-center"></i>

                <h4 class="reloj-texto  my-2 mx-5">Minimaze the spread of viruses</h4>
                <h6 class="h6 body-header my-2 mx-5"> Vaccine has been proven<br>effective to prevent someone<br>  from getting infected with <br>Coronavirus</h6>

            </div>
        </div>


        <div class="col-3">
            <div class="card cardss">
                <i class="bi bi-shield-fill-check  reloj2 my-4 mx-5 text-center"></i>

                <h4 class="reloj-texto  my-2 mx-5">Forming <br>antibodies</h4>
                <h6 class="h6 body-header my-2 mx-5"> COVID-19 vaccine proven to<br>  help shape antibody <br>response for immune system</h6>

            </div>
        </div>


        <div class="col-3">
            <div class="card cardss">
                <i class="bi bi-people-fill  reloj2 my-4 mx-5 text-center"></i>

                <h4 class="reloj-texto  my-2 mx-5">Protecting <br>people nearby</h4>
                <h6 class="h6 body-header my-2 mx-5"> The benefits of COVID-19<br> vaccination are the vaccione<br>  that we get can also help <br>protect people around us</h6>

            </div>
        </div>


        <div class="col-3">
            <div class="card cardss">
                <i class="bi bi-diagram-3-fill  reloj2 my-4 mx-5 text-center"></i>

                <h4 class="reloj-texto  my-2 mx-5">Creating group <br> immunity</h4>
                <h6 class="h6 body-header my-2 mx-5"> COVID-19 vaccination is also <br>  beneficial for creating group <br>immunity or herd immunity</h6>

            </div>
        </div>
    </div>
</div>


<div class="container-fluid contenido3">
    <div class="row">
        <div class="col-12 col-md-6">
            <img src="../../../assets/img/Img-2.png" class="img-fluid" >

        </div>

        <div class="col-12 col-md-6">
            <div class="d-block">
                <h1 class="h1 titulo-header">Preparations Before Vaccine</h1>
                <h6 class="h6 body-header"> the succes of vaccines is strongly influenced by the,<br> strengh of the bodys immune system. thereforce the are<br>  severeal things that can be tried to make Covid19 <br> vaccine work:</h6>
                <ul class="list-group">
                    <li class="list-group-item my-3">
                        <div class="d-flex ">
                            <i class="bi bi-shield-fill-x reloj mx-3"></i>
                            <h4 class="h4 colr-gris">Avoid alcoholic beverages</h4>
                        </div>
                    </li>

                    <li class="list-group-item my-3">
                        <div class="d-flex">
                            <i class="bi bi-patch-minus-fill reloj mx-3"></i>
                            <h4 class="h4 colr-gris">Avoid stress</h4>
                        </div>
                    </li>


                    <li class="list-group-item my-3">
                        <div class="d-flex">
                            <i class="bi bi-apple reloj mx-3"></i>
                            <h4 class="h4 colr-gris">Eat healthy food</h4>
                        </div>
                    </li>

                    <li class="list-group-item my-3">
                        <div class="d-flex">
                            <i class="bi bi-check-circle-fill reloj mx-3"></i>
                            <h4 class="h4 colr-gris">Get enough sleep</h4>
                        </div>
                    </li>

                    <li class="list-group-item my-3">
                        <div class="d-flex">
                            <i class="bi bi-balloon-heart-fill reloj mx-3"></i>
                            <h4 class="h4 colr-gris">Exercise or physical activity</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>










<div class="container-fluid contenido4">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="d-block">
                <h1 class="h1 titulo-header">Emergency Contact</h1>
                <h6 class="h6 body-header"> Contact one of the contacts below if your or your family feel<br> unwell and have similar symptoms such as Covid-19, make<br>  sure you also take care of yourself before reporting to us</h6>
                
                <div class="row mt-5">
                    <div class="col-md-6 col-12">

                        <div class="card px-3 py-3">
                            <div class="d-flex">
                                <i class="bi bi-phone-fill  reloj2 my-4 mx-5 text-center"></i>
                                <div class="b-block">
                                    <h4 class="reloj-texto  my-2 mx-5 text-star">Call</h4>
                                    <p class="body-header"> 02223.2232.223</p>
                                </div>
                            </div>
                         <button class="btn btn-lg btndd">Call Now</button>
                        </div>

                    </div>

                    <div class="col-md-6 col-12">

                        <div class="card px-3 py-3">
                            <div class="d-flex">
                                <i class="bi bi-chat-fill  reloj2 my-4 mx-5 text-center"></i>
                                <div class="b-block">
                                    <h4 class="reloj-texto  my-2 mx-5 text-star">Chat</h4>
                                    <p class="body-header"> 02223.2232.223</p>
                                </div>
                            </div>
                         <button class="btn btn-lg btndd">Chat Now</button>
                        </div>

                        
                    </div>
                </div>




                <div class="row mt-5">
                    <div class="col-md-6 col-12">

                        <div class="card px-3 py-3">
                            <div class="d-flex">
                                <i class="bi bi-camera-video-fill  reloj2 my-4 mx-5 text-center"></i>
                                <div class="b-block">
                                    <h4 class="reloj-texto  my-2 mx-5 text-star">Video Call</h4>
                                    <p class="body-header"> 02223.2232.223</p>
                                </div>
                            </div>
                         <button class="btn btn-lg btndd">Video Call Now</button>
                        </div>

                    </div>

                    <div class="col-md-6 col-12">

                        <div class="card px-3 py-3">
                            <div class="d-flex">
                                <i class="bi bi-postcard-fill reloj2 my-4 mx-5 text-center"></i>
                                <div class="b-block">
                                    <h4 class="reloj-texto  my-2 mx-5 text-star">Message</h4>
                                    <p class="body-header"> 02223.2232.223</p>
                                </div>
                            </div>
                         <button class="btn btn-lg btndd">Message Now</button>
                        </div>

                        
                    </div>
                </div>


            </div>
        </div>
        <div class="col-12 col-md-6">
            <img src="../../../assets/img/img-3.png" class="float-end img-fluid" >

        </div>


    </div>
</div>



<div class="container-fluid footer">
            <div class="row ">
                    <div class="col-6 dd mt-4">
                        <div class="d-block">
                            <h2 class="titulo">Vaccination</h2>
                            <p class="body-header"> Our goal is to help the</p>
                            <p class="body-header"> world free from the</p>
                            <p class="body-header"> ongoing pandemic</p>


                        </div>
                    </div>

                    <div class="col-5 mt-4">
                        <div class="row">
                            <div class="col-4">
                                <div class="d-block">
                                    <h2 class="titulo">About</h2>
                                    <p class="body-header"> About Us</p>
                                    <p class="body-header"> Features</p>
                                    <p class="body-header"> News & Blog</p>
        
                                </div>
                            </div>


                            <div class="col-4">
                                <div class="d-block">
                                    <h2 class="titulo">Company</h2>
                                    <p class="body-header"> How the Work</p>
                                    <p class="body-header"> Capital</p>
                                    <p class="body-header"> Security</p>
        
                                </div>
                            </div>


                            <div class="col-4">
                                <div class="d-block">
                                    <h2 class="titulo">Support</h2>
                                    <p class="body-header"> FAQs</p>
                                    <p class="body-header"> Support Center</p>
                                    <p class="body-header"> Contact Us</p>
        
                                </div>
                            </div>
                        </div>

                    </div>

            </div>

</div>