<div class="menu ">

    <div class="container-fluid mt-4 ">
        <div class="row">
            <div class="col-5">
                <h2 class="titulo">Vaccination</h2>
            </div>

            <div class="col-7">
                <div class="d-flex">
                      <h4 class="mx-4 suptitulo">Database</h4>
                      <h4 class="mx-4 suptitulo">Education</h4>
                      <h4  class="mx-4 suptitulo">News</h4>
                      <h4 class="mx-4 suptitulo">Regulation</h4>
                      <h4 class="mx-4 suptitulo bac text-center">Hoax Buster</h4>

                </div>
            </div>
        </div>
    </div>

</div>